<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ gettext('Welcome to Holberton') }}</title>
</head>
<body>
    <h1>{{ gettext('Hello world') }}</h1>
    {% if username %}
        <p>{{ gettext('You are logged in as %(username)s.', username=username) }}</p>
    {% else %}
        <p>{{ gettext('You are not logged in.') }}</p>
    {% endif %}
    <p>{{ gettext('The current time is %(current_time)s.', current_time=current_time) }}</p>
</body>
</html>
